<!DOCTYPE html>
<html lang='nl'>
<head>
	<title>Frituur Frank App</title>
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src='node_modules/bootstrap/dist/js/bootstrap.min.js'></script>  
	<script src='node_modules/vue/dist/vue.min.js'></script>
	<script src='node_modules/vue-router/dist/vue-router.min.js'></script>
	<link rel='stylesheet' href='node_modules/bootstrap/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='style/style.css'>
</head>
<body>
	<div id='app' class='container-fluid'>
		<nav class = "navbar navbar-fixed-top navbar-default row" role = "navigation">
			<div class='container'>
				<div class = "navbar-header">
					<a class = "navbar-brand" href='../'>
						<img src='img/favicon.png'>
						<!-- <span>Frituur app</span> -->
					</a>
					
					<div class="form-group has-feedback search pull-right col-sm-4 col-lg-3">
						<input v-on:keyup.esc='clearSearchField' v-on:click='clearFilters' type="text" class="col-xs-12" placeholder="Zoek op product of merk" v-model='searchTerm'>
						<i class="glyphicon glyphicon-search form-control-feedback"></i>
					</div>
				</div>
			</div>
		</nav>

		<main>
			<a></a>
			<header class='row header'>
				<div class='container'>
					<h1 class='col-xs-12'>Frituur App</h1>
					<p class='col-xs-12 col-sm-8'>Franks Frituur App; het antwoord op vragen als 'Hoe lang moeten mijn snacks gefrituurd worden?', 'Op welke temperatuur?' en 'Welke saus moet er bij deze snack?'.</p>
				</div>
			</header>
			<div class='container'>
				
				<form class='filters col-xs-12'>
					<div data-toggle='collapse' data-target='#filtersCollapse' class='collapsed'>
						<h2>Filters</h2>
						<i class='glyphicon glyphicon-chevron-down'></i>
					</div>
					<div id='filtersCollapse' class="collapse clearfix">
						<fieldset class='col-xs-12 col-md-3'>
							<legend>Product</legend>
							<label v-on:click='clearSearchField' v-on:click='filterProducts' v-for="product in allProducts | order-by 'name'">
								<input type='checkbox' value='{{ product }}' v-model='productFilter' value='{{ product }}'>{{ product }}
							</label>
						</fieldset>
						<fieldset class='col-xs-12 col-md-3'>
							<legend>Merk</legend>
							<label v-on:click='filterProducts' v-for="brand in allBrands | order-by 'brand'">
								<input type='checkbox' value='{{ brand }}' v-model='brandFilter' value='{{ brand }}'>{{ brand }}
							</label>
						</fieldset>
					</div>
				</form>
				
				<ul class='clearfix snacks'>
					<li class='col-xs-12 col-sm-6 col-md-4 col-lg-3' v-for="snack in snacks | filterBy searchTerm in 'name' 'brand' | filterBy productFilter in 'name' | filterBy brandFilter in 'brand' | orderBy 'name' 'brand'">
						<div class='contentBox'>
							<section class='snackImg'>
								<img v-bind:src='snack.img' alt='{{ snack.name }}'>
							</section>
							<section class='snackInfo'>
								<h1>{{snack.brand}} {{ snack.name }}</h1>
								<ul>
									<li>Tijd: <span class='snackDetail'>{{ snack.time }} min</span></li>
									<li>Temperatuur: <span class='snackDetail'>{{ snack.temp }} ºC</span></li>
									<li>Aanbevolen saus: <span class='snackDetail'>{{ snack.sauce }}</span> </li>
								</ul>
							</section>
						</div>
					</li>
				</ul>
			</div>
		</main>
	</div>
	<footer class=footer>
		<div class='container'>
			<ul class='bs-docs-footer-links col-xs-12'>
				<li><a href='https://www.frankwarnaar.nl'>www.frankwarnaar.nl</a></li>
				<li><a href='https://github.com/frankwarnaar/frituurApp'>Bekijk broncode</a></li>
				<li><a href='#app'>Naar boven</a></li>
			</ul>
			<p class='clearfix text-muted col-xs-12'>Copyleft 2016 - Frank Warnaar</p>
		</footer>

	<script type='text/javascript' src='js/app.js'></script>
</body>
</html>