main{
	ul.snacks{
		list-style-type: none;

		li:nth-of-type(4n+1){
			clear:left;
		}

		li{
			div.contentBox{
				section.snackInfo{
					min-height: 184px;
					overflow: hidden;
				}
			}
		}
	}
}